// Typography
$base-font: 'Open Sans', sans-serif;
$head-font: 'Poppins', sans-serif;

// Colors
$white: #fff;
$black: #201e20;
$primary400: #352d38;
$primary200: #584c5c;
$primary100: #e9e4eb;
$secondary400: #ffb800;

// Sizing
$header-mobile-height: 45px;
$header-height: 66px;
$footer-height: 30px;
$gutter: 16px;
