* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $base-font;
  font-size: 16px;
}

h1 {
  font-size: 2rem;
  color: $primary400;
}

p {
  font-size: 14px;
  line-height: 1.6;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}
