  /* Typography */
$baseFont: 'Open Sans', sans-serif;
$headFont: 'Poppins', sans-serif;

/* Colors */
$white: #fff;
$black: #201e20;
$primary400: #352d38;
$primary200: #584c5c;
$primary100: #e9e4eb;
$secondary400: #ffb800;
$primary40090: #352d38e6;
$black40: #201e2066;
$black20:  #201e2033;
$black60: #201e2099;
$black90: #201e20e6;
$black98: #201e20fa;

/* Sizing */
$headerMobileHeight: 45px;
$headerHeight: 66px;
$footerHeight: 30px;
$gutter: 16px;